.article {
    margin: 12px 0;
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px;
    position: relative;

    &:first-of-type {
        margin-top: 0;
    }

    &:last-of-type {
        margin-bottom: 0;
    }

    &__title {
        font-size: 24px;
        margin-bottom: 12px;
    }

    &__description {
        margin-bottom: 12px;
    }

    &__button {
        display: flex;
        justify-content: space-between;
    }

    &__close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }

    &__change-btn {
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer;
    }
}
